<section class="admin-dashboard">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="list-group">
    <p class="list-group-item">
      <span class="badge"><%= @total_products %></span>
      <%= link_to 'Total Products', [:admin, :products] %>
    </p>
    <p class="list-group-item">
      <span class="badge"><%= @total_categories %></span>
      <%= link_to 'Total Categories', [:admin, :categories] %>
    </p>
  </div>
</section>