<section class="admin-categories-index">

  <header class="page-header">
    <h1>Admin &raquo; All Categories</h1>
  </header>

  <!-- Notice if there's a new category -->
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <span><%= notice %></span>
    </div>
  <% end %>  

  <div class="well">
    <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
  </div>

  <div class="panel panel-default categories">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="width:85%">Category</th>
          <th>Number of Products</th>
        </tr>
      </thead>
      <tbody>
        <%= render @categories %>
      </tbody>
    </table>

  </div>

</section>
